In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table

In [2]:
dst_conn = create_engine(f'postgresql://mle_20240226_059a2462fd:3d6694d26e2343e6a39dcc691f26f92b@rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net:6432/playground_mle_20240226_059a2462fd')

In [3]:
df = pd.read_sql('select * from flats_buildings', dst_conn)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141362 entries, 0 to 141361
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   flat_id            141362 non-null  int64
 1   floor              141362 non-null  int64
 2   is_apartment       141362 non-null  int64
 3   kitchen_area       141362 non-null  float64
 4   living_area        141362 non-null  float64
 5   rooms              141362 non-null  int64
 6   studio             141362 non-null  int64
 7   total_area         141362 non-null  float64
 8   price              141362 non-null  int64
 9   building_id        141362 non-null  int64
 10  build_year         141362 non-null  int64
 11  building_type_int  141362 non-null  int64
 12  latitude           141362 non-null  float64
 13  longitude          141362 non-null  float64
 14  ceiling_height     141362 non-null  int64
 15  flats_count        141362 non-null  int64
 16  floors_total       141362 non-null  int64
 17  has_elevator       141362 non-null  int64
dtypes: float64(5), int64(13)
memory usage: 19.4 MB

# Дубликаты

In [5]:
df.duplicated().sum()

0

Проверим наличие дубликатов без flat_id

In [6]:
df.drop('flat_id', axis=1).duplicated().sum()

9116

Видно, что есть одинаковые квартиры с разными id. Напишем функцию для удаления дубликатов

In [7]:
def remove_duplicates(data: pd.DataFrame):
    feature_cols = data.columns.drop('flat_id').tolist()
    is_duplicated_features = data.duplicated(subset=feature_cols)
    data = data[~is_duplicated_features].reset_index(drop=True)
    return data

In [8]:
df = remove_duplicates(df)

In [9]:
df.drop('flat_id', axis=1).duplicated().sum()

0

# Пропуски

In [10]:
df.isnull().sum()

flat_id              0
floor                0
is_apartment         0
kitchen_area         0
living_area          0
rooms                0
studio               0
total_area           0
price                0
building_id          0
build_year           0
building_type_int    0
latitude             0
longitude            0
ceiling_height       0
flats_count          0
floors_total         0
has_elevator         0
dtype: int64

В данный момент пропусков не наблюдается, но на будущее напишем функцию для их заполнения. Некоторые столбцы хоть и имеют числовой тип относятся к категориальным, разделим их на две группы для заполнения медианой и модой.

In [11]:
def fill_missing_values(data: pd.DataFrame):
    cols_with_nans = data.isnull().sum()
    cols_with_nans = cols_with_nans[cols_with_nans > 0].index
    mode_col = ['is_apartment', 'has_elevator', 'building_type_int', 'rooms', 'floor', 'build_year', 'flats_count']
    for col in cols_with_nans:
        if col not in mode_col:
            fill_value = data[col].median()
        elif col in mode_col:
            fill_value = data[col].mode().iloc[0]
        data[col] = data[col].fillna(fill_value)
    return data

In [12]:
df = fill_missing_values(df)

In [13]:
df

,flat_id,floor,is_apartment,kitchen_area,living_area,rooms,studio,total_area,price,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator
0,0,9,0,9.90,19.900000,1,0,35.099998,9500000,6220,1965,6,55.717113,37.781120,3,84,12,1
1,1,7,0,0.00,16.600000,1,0,43.000000,13500000,18012,2001,2,55.794849,37.608013,3,97,10,1
2,2,9,0,9.00,32.000000,2,0,56.000000,13500000,17821,2000,4,55.740040,37.761742,3,80,10,1
3,3,1,0,10.10,43.099998,3,0,76.000000,20000000,18579,2002,4,55.672016,37.570877,3,771,17,1
4,4,3,0,3.00,14.000000,1,0,24.000000,5200000,9293,1971,1,55.808807,37.707306,3,208,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132241,141357,16,0,11.00,18.000000,1,0,42.000000,10500000,22455,2013,4,55.626579,37.313503,3,672,25,1
132242,141358,5,0,5.28,28.330000,2,0,41.110001,7400000,3162,1960,1,55.727470,37.768677,2,80,5,0
132243,141359,7,0,5.30,20.000000,1,0,31.500000,9700000,6513,1966,4,55.704315,37.506584,3,72,9,1
132244,141360,15,0,13.80,33.700001,2,0,65.300003,11750000,23952,2017,4,55.699863,37.939564,3,480,25,1
132245,141361,16,0,7.60,18.000000,1,0,38.000000,8000000,15104,1988,4,55.862133,37.689613,3,128,17,1

# Выбросы

In [14]:
df.describe()

,flat_id,floor,is_apartment,kitchen_area,living_area,rooms,studio,total_area,price,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator
count,132246.000000,132246.000000,132246.000000,132246.000000,132246.000000,132246.000000,132246.0,132246.000000,1.322460e+05,132246.000000,132246.000000,132246.000000,132246.000000,132246.000000,132246.000000,132246.000000,132246.000000,132246.000000
mean,69445.138666,7.455651,0.009603,8.964356,30.990703,2.124200,0.0,62.038371,1.933210e+07,14017.299760,1986.492476,3.241240,55.730344,37.589355,2.952452,251.587723,14.077605,0.896866
std,40816.929668,5.703849,0.097525,5.212305,23.667590,0.990495,0.0,39.784039,6.757713e+07,6974.598002,22.067968,1.459392,0.102887,0.150453,0.266027,206.994097,6.881819,0.304134
min,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.0,11.000000,1.100000e+01,1.000000,1901.000000,0.000000,55.211460,36.864372,2.000000,1.000000,1.000000,0.000000
25%,33979.250000,3.000000,0.000000,6.100000,19.000000,1.000000,0.0,39.200001,8.900000e+06,8509.000000,1969.000000,2.000000,55.653915,37.491764,3.000000,111.000000,9.000000,1.000000
50%,68861.500000,6.000000,0.000000,8.700000,29.400000,2.000000,0.0,52.900002,1.180000e+07,14300.000000,1985.000000,4.000000,55.724754,37.581272,3.000000,199.000000,14.000000,1.000000
75%,104761.750000,10.000000,0.000000,10.200000,41.000000,3.000000,0.0,71.699997,1.685000e+07,20409.000000,2007.000000,4.000000,55.808098,37.692499,3.000000,323.000000,17.000000,1.000000
max,141361.000000,56.000000,1.000000,203.000000,700.000000,20.000000,0.0,960.299988,9.873738e+09,24620.000000,2023.000000,6.000000,56.011032,37.946411,27.000000,4455.000000,99.000000,1.000000

В таких колонках как 'kitchen_area', 'living_area', 'total_area', 'price', 'ceiling_height' есть выбросы, напишем функцию для их удаления.

In [15]:
def remove_outliers(data: pd.DataFrame):
    outliers_cols = ['kitchen_area', 'living_area', 'total_area', 'price', 'ceiling_height']
    threshold = 1.5
    potential_outliers = pd.DataFrame()

    for col in outliers_cols:
        Q1 = data[col].quantile(0.25)
        Q3 = data[col].quantile(0.75)
        IQR = Q3 - Q1
        margin = threshold * IQR
        lower = Q1 - margin
        upper = Q3 + margin
        potential_outliers[col] = ~data[col].between(lower, upper)

    outliers = potential_outliers.any(axis=1)
    data = data[~outliers].reset_index(drop=True)

    return data

In [16]:
df = remove_outliers(df)

In [17]:
df

,flat_id,floor,is_apartment,kitchen_area,living_area,rooms,studio,total_area,price,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator
0,0,9,0,9.9,19.900000,1,0,35.099998,9500000,6220,1965,6,55.717113,37.781120,3,84,12,1
1,1,7,0,0.0,16.600000,1,0,43.000000,13500000,18012,2001,2,55.794849,37.608013,3,97,10,1
2,2,9,0,9.0,32.000000,2,0,56.000000,13500000,17821,2000,4,55.740040,37.761742,3,80,10,1
3,3,1,0,10.1,43.099998,3,0,76.000000,20000000,18579,2002,4,55.672016,37.570877,3,771,17,1
4,4,3,0,3.0,14.000000,1,0,24.000000,5200000,9293,1971,1,55.808807,37.707306,3,208,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107136,141356,8,0,6.0,42.000000,3,0,64.000000,10800000,9503,1971,4,55.740402,37.834579,3,428,9,1
107137,141357,16,0,11.0,18.000000,1,0,42.000000,10500000,22455,2013,4,55.626579,37.313503,3,672,25,1
107138,141359,7,0,5.3,20.000000,1,0,31.500000,9700000,6513,1966,4,55.704315,37.506584,3,72,9,1
107139,141360,15,0,13.8,33.700001,2,0,65.300003,11750000,23952,2017,4,55.699863,37.939564,3,480,25,1
107140,141361,16,0,7.6,18.000000,1,0,38.000000,8000000,15104,1988,4,55.862133,37.689613,3,128,17,1

# Проверка наличия очищенной таблицы в базе

In [18]:
df_clean = pd.read_sql('select * from clean_flats_buildings', dst_conn)

In [19]:
df_clean

,flat_id,floor,is_apartment,kitchen_area,living_area,rooms,studio,total_area,price,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator
0,0,9,0,9.9,19.900000,1,0,35.099998,9500000,6220,1965,6,55.717113,37.781120,3,84,12,1
1,1,7,0,0.0,16.600000,1,0,43.000000,13500000,18012,2001,2,55.794849,37.608013,3,97,10,1
2,2,9,0,9.0,32.000000,2,0,56.000000,13500000,17821,2000,4,55.740040,37.761742,3,80,10,1
3,3,1,0,10.1,43.099998,3,0,76.000000,20000000,18579,2002,4,55.672016,37.570877,3,771,17,1
4,4,3,0,3.0,14.000000,1,0,24.000000,5200000,9293,1971,1,55.808807,37.707306,3,208,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107136,141356,8,0,6.0,42.000000,3,0,64.000000,10800000,9503,1971,4,55.740402,37.834579,3,428,9,1
107137,141357,16,0,11.0,18.000000,1,0,42.000000,10500000,22455,2013,4,55.626579,37.313503,3,672,25,1
107138,141359,7,0,5.3,20.000000,1,0,31.500000,9700000,6513,1966,4,55.704315,37.506584,3,72,9,1
107139,141360,15,0,13.8,33.700001,2,0,65.300003,11750000,23952,2017,4,55.699863,37.939564,3,480,25,1
107140,141361,16,0,7.6,18.000000,1,0,38.000000,8000000,15104,1988,4,55.862133,37.689613,3,128,17,1